<?xml version="1.0"?>
<config>
    <modules>
        <Stage_Bonuspayment>
            <version>0.0.1</version>
        </Stage_Bonuspayment>
    </modules>
    <default>
        <payment>
            <bonuspayment>
                <active>1</active>
                <model>bonuspayment/bonuspayment</model>
                <order_status>processing</order_status>
                <title>Bonus Payment Method</title>
                <!--<payment_action>Authorize and Capture</payment_action>-->
                <allowspecific>0</allowspecific>
            </bonuspayment>
        </payment>
    </default>
    <global>
        <models>
            <bonuspayment>
                <class>Stage_Bonuspayment_Model</class>
            </bonuspayment>
        </models>
        <resources>
            <bonuspayment_setup>
                <setup>
                    <module>Stage_Bonuspayment</module>
                </setup>
            </bonuspayment_setup>
        </resources>
        <blocks>
            <bonuspayment>
                <class>Stage_Bonuspayment_Block</class>
            </bonuspayment>
        </blocks>
        <helpers>
            <bonuspayment>
                <class>Stage_Bonuspayment_Helper</class>
            </bonuspayment>
        </helpers>
        <!--<events>-->
            <!--<sales_order_place_after>-->
                <!--<observers>-->
                    <!--<bonuspayment_observers>-->
                        <!--<class>bonuspayment/observer</class>-->
                        <!--<method>sales_order_place_after</method>-->
                    <!--</bonuspayment_observers>-->
                <!--</observers>-->
            <!--</sales_order_place_after>-->
        <!--</events>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stage_Bonuspayment before="Mage_Adminhtml">Stage_Bonuspayment_Adminhtml</Stage_Bonuspayment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bonuspayment>
                    <file>stage_bonuspayment.xml</file>
                </bonuspayment>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <bonuspayment_observers>
                        <class>bonuspayment/observer</class>
                        <method>adminhtml_customer_prepare_save</method>
                    </bonuspayment_observers>
                </observers>
            </adminhtml_customer_prepare_save>
        </events>
    </adminhtml>
</config>
